// .subcontent {} see subcontent in layout-and-global.scss

.effective-info {
	display: none;
	@include breakpoint(large){ display: block; }
}
.bottom-border-blue {
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: solid 2px $pale-blue;
}
.recent-history-expanded {
	border-top: solid 2px $pale-blue;
    padding-top: 20px;
    padding-left: 20px;
}
.recent-history-expanded {
	display: none;
}
.subcontent ul {
	margin-left: 0px;
}